@import "../../../styles.scss";

.summary-contaienr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
  max-width: 912px;
}

h1 {
  font-size: 48px;
  line-height: 57.6px;
  text-align: center;
  > span {
    color: $primary-color;
    font-size: 64px;
    font-weight: 700;
  }
}

.summary {
  @include d-flex($justify: center, $align: center);
  flex-wrap: wrap;
  gap: 10px;
}

.divider {
  height: 120px;
  border-left: 3px solid $white;
}

.deadline {
  @include d-flex($justify: flex-start, $align: flex-start, $direction: column);
  border-radius: 30px;
  > .date {
    font-weight: $font-weight-bold;
    font-size: $font-size-xl;
    color: $white;
  }
  > .up-deadline {
    font-size: $font-size-lg;
    color: $white;
  }
}

.task-in-board {
  min-width: 208px !important;
  min-height: 191px !important;
}

.icon-and-number {
  @include d-flex($justify: center, $align: center, $direction: row);
  gap: 20px;
  width: fit-content;
  > img {
    border-radius: 50%;
    border: 2px solid $white;
    height: 76px;
    width: 76px;
  }
  > span {
    font-size: $font-size-xxl;
    font-weight: $font-weight-bold;
  }
}

.title {
  font-size: $font-size-lg;
  color: $white;
  text-align: center;
}

.small-card {
  @include d-flex($justify: center, $align: center, $direction: column);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 30px;
  background-color: $white;
  width: 219px;
  height: 204px;
}

.card-hover-effect {
  &:hover {
    transform: scale(1.15);
    border-top-left-radius: 0;
    transition: transform 0.175s ease-in-out;
  }
}

.task-to-do {
  @include d-flex($justify: center, $align: center, $direction: column);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 30px;
  width: 219px;
  height: 204px;
  background-color: lighten($color: $primary-color, $amount: 30%);
}

.dark-blue-hover {
  &:hover {
    > span {
      color: $white !important;
    }
    > .icon-and-number {
      > span {
        color: $white !important;
      }
    }
    background-color: darken($color: $primary-color, $amount: 20%);
    transition: all 175ms ease-in-out;
  }
}

.urgent {
  @include d-flex($justify: center, $align: center, $direction: row);
  gap: 35px;
  padding: 40px 48px;
  border-radius: 30px;
  background-color: $primary-color;
  min-width: 672px;
  min-height: 191px;
  > div {
    > .icon-and-number {
      &:hover {
        > span {
          color: black;
        }
      }
    }
  }

  &:hover {
    background-color: $white;
  }
}

@media screen and (max-width: $tablet-width) {
  .summary-contaienr {
    gap: 24px;
    padding: 0 24px;
  }
  .urgent {
    min-width: 100%;
  }
  .summary {
    gap: 24px;
  }
  .small-card {
    width: 100%;
  }
  .task-to-do {
    width: 100%;
  }

  .card-none {
    display: none;
  }
}
