<div class="summary-contaienr">
  <div class="greetings">
    <h1>{{ this.greetings() }} <span class="card-none">, "Name here"</span></h1>
  </div>
  <div class="summary">
    <div class="urgent card-hover-effect pointer">
      <div>
        <div class="icon-and-number">
          <img src="img/summary/summray_urgent_icon.png" alt="" />
          <span class="font-color-white">0</span>
        </div>

        <span class="title">Tasks Urgent</span>
      </div>
      <div class="divider"></div>
      <div class="deadline">
        <span class="date">October 16, 2022</span>
        <span class="up-deadline">Upcoming Deadline</span>
      </div>
    </div>
    <div
      class="task-in-board small-card card-hover-effect dark-blue-hover pointer card-none"
    >
      <div class="icon-and-number">
        <img src="img/summary/summary_default_icon.png" alt="" />
        <span>0</span>
      </div>
      <span class="title font-color-primary">Tasks in Board</span>
    </div>
    <div class="task-to-do card-hover-effect pointer">
      <div class="icon-and-number">
        <img src="img/summary/summary_todo_icon.png" alt="" />
        <span>0</span>
      </div>
      <span class="title font-color-primary">Tasks To Do</span>
    </div>
    <!-- responsive card shows only at tablet or smaller -->
    <div
      class="task-in-board small-card card-hover-effect dark-blue-hover pointer responsive-card"
    >
      <div class="icon-and-number">
        <img src="img/summary/summary_default_icon.png" alt="" />
        <span>0</span>
      </div>
      <span class="title font-color-primary">Tasks in Board</span>
    </div>
    <!-- responsive card end -->
    <div
      class="task-in-progress small-card card-hover-effect dark-blue-hover pointer"
    >
      <div class="icon-and-number">
        <img src="img/summary/summary_in_progress_icon.png" alt="" />
        <span>0</span>
      </div>
      <span class="title font-color-primary">Tasks In Progress</span>
    </div>

    <div
      class="awaiting-feedback small-card card-hover-effect dark-blue-hover pointer"
    >
      <div class="icon-and-number">
        <img src="img/summary/summary_feedback_icon.png" alt="" />
        <span>0</span>
      </div>
      <span class="title font-color-primary">Awaiting Feedback</span>
    </div>
    <div
      class="tasks-done small-card card-hover-effect dark-blue-hover pointer"
    >
      <div class="icon-and-number">
        <img src="img/summary/summray_done_icon.png" alt="" />
        <span>0</span>
      </div>
      <span class="title font-color-primary">Tasks Done</span>
    </div>
  </div>
</div>
