<div class="summary-contaienr">
  <div class="greetings">
    <h1>{{this.greetings()}}, <span>"Name here"</span></h1>

  </div>
  <div class="summary">
    <div class="urgent">
      <div class="icon-container">
        <div class="icon-and-number">
          <img src="img/summary/summray_urgent_icon.png" alt="">
          <span>0</span>
        </div>
        <div class="title">

        </div>
      </div>
    </div>
    <div class="task-in-board"></div>
    <div class="task-to-do"></div>
    <div class="task-in-progress"></div>
    <div class="awaiting-feedback"></div>
    <div class="tasks-done"></div>
  </div>
</div>
