@import "../../styles.scss";

.side-nav-container {
  position: relative;
  @include d-flex($justify: space-between, $align: center, $direction: column);
  max-width: 232px;
  height: calc(100vh - 103.59px);
  padding: 66px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.top-container {
  @include d-flex($justify: center, $align: start, $direction: column);
  gap: 15px;
  max-width: 186px;
}

.bottem-container {
  @include d-flex($justify: center, $align: start, $direction: column);
  gap: 20px;
  width: 100%;
  padding: 0 48px;
  > span {
    &:hover {
      color: $primary-color;
      transition: all 175ms ease-in-out;
    }

    &:active {
      color: darken($color: $primary-color, $amount: 10%);
      transition: all 175ms ease-in-out;
    }
  };
}

.icon-container {
  @include d-flex($justify: start, $align: start);
  gap: 8px;
  padding: 8px 30px;
  width: 100%;
  border-radius: 10px;
  &:hover {
    background-color: lighten($color: $primary-color, $amount: 30%);
    transition: all 175ms ease-in-out;
  }

  &:active {
    color: $white;
    background-color: $primary-color;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 175ms ease-in-out;
    > img {
      filter: invert(1) brightness(2);
      transition: all 275ms ease-in-out;

    }
  }
}
