<nav class="navbar">
  <div class="left-container">
    <img
      class="pointer"
      routerLink="/dashboard/summary"
      src="img/default/join_logo_full_white.png"
    />
  </div>
  <div class="right-container">
    <span>Kanban Project Management Tool</span>
    <img
      class="pointer"
      src="img/default/white_questionmark_icon.png"
      alt="Test"
    />
    <div
      class="login-user-container pointer"
      (click)="this.toggelProfileMenu()"
    >
      <div class="initials">
        <!-- add logic -->
        <span>JS</span>
      </div>
      @if(isProfileMenuActive) {
        <div class="user-menu" id="user-menu">
          @if(needHelp) {
            <span routerLink="">Help</span>
          }
          <span routerLink="">Legal Notice</span>
          <span routerLink="">Privacy Policy</span>
          <span routerLink="">Log out</span>
        </div>
      }

    </div>
  </div>
</nav>
