<div class="wrapper">
  <nav>
    <img src="img/default/join_logo_blue_icon.png" />
    <div class="sign-up-container">
      <span>Not a Join user?</span>
      <div class="blue-btn">Sign up</div>
    </div>
  </nav>
  <div class="login-container">
    <div class="login-content">
      <h1>Log in</h1>
      <form formGroup="loginForm">
        <div class="loginForm">
          <div class="form-group-input">
            <input class="email-icon" type="email" formControlName="email" placeholder="Email" />
          </div>
          <div class="form-group-input">
            <input
              class="password-icon"
              type="password"
              formControlName="password"
              placeholder="Password"
            />
          </div>
          <div class="form-group-checkbox">
            <label>
              <input class="custom-checkbox" type="checkbox" formControlName="rememberMe" />
              Remember me
            </label>
          </div>
          <div class="form-group-buttons">
            <button type="submit" [disabled]="this.loginForm.invalid" class="blue-btn" (click)="login()">
              Log in
            </button>
            <button routerLink="/dashboard/summary/" routerLinkActive="router-link-active"  class="white-btn-grey-font" type="button">Guest log in</button>
          </div>
        </div>
      </form>
    </div>
    <footer>
      <span class="pointer" routerLink="/info/privacy-policy/" routerLinkActive="router-link-active" >Privacy Policy</span>
      <span class="pointer" routerLink="/info/legal-notice/">Legal Notice</span>
    </footer>
  </div>
</div>
