$primary-color: #4589FF;

$white: #FFFFFF;
$black: #000000;
$gray-1: #647188;

$user-icon-color-1: #FF7A00;
$user-icon-color-2: #FF5EB3;
$user-icon-color-3: #6E52FF;
$user-icon-color-4: #9327FF;
$user-icon-color-5: #00BEE8;
$user-icon-color-6: #1FD7C1;
$user-icon-color-7: #FF745E;
$user-icon-color-8: #FFA35E;
$user-icon-color-9: #FC71FF;
$user-icon-color-10: #FFC701;
$user-icon-color-11: #0038FF;
$user-icon-color-12: #C3FF2B;
$user-icon-color-13: #FFE62B;
$user-icon-color-14: #FF4646;
$user-icon-color-15: #FFBB2B;

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Inter', sans-serif;

$tablet-width: 961px;
$smartphone-width: 430px;
$max-screen-width: 2560px;

// font-weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// font-size
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 19px;
$font-size-lg: 23px;
$font-size-xl: 32px;
$font-size-xxl: 48px;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-size: 16px;
  line-height: 1.6;
  color: $black;
  overflow-y: hidden;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}


@mixin button($bg-color:$primary-color, $hover-color:$primary-color, $font-color) {
  background-color: $bg-color;
  color: $font-color;
  border: none;
  padding: 10px 35px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($hover-color, 10%);
  }

  &:active {
    background-color: darken($hover-color, 20%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  &:disabled {
    background-color: $gray-1;
    color: $white;
    cursor: not-allowed;
  }
}

@mixin d-flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

.pointer {
  cursor: pointer;
}

.font-color-white {
  color: $white;
}

.font-color-primary {
  color: $primary-color !important;
}


